@font-face {
  font-family: 'DM Sans', 'Open Sans', sans-serif;
  src: url("./DMSerifDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Jost', 'Open Sans', sans-serif;
  src: url("./static/Jost-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Jost bold', 'Open Sans', sans-serif;
  src: url("./static/Jost-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Jost semi-bold', 'Open Sans', sans-serif;
  src: url("./static/Jost-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
